<form action="<%=locals?.action%>" method="post" class="add-form">
            <label for="name"> Game name</label>
            <input value="<%=locals?.name || "" %>" type="text" id="name" name="name" />
            <label for="image">Image Path</label>
            <input value="<%=locals?.image || "" %>" name="image" id="image" />
            

                <%if(locals?.allCategories){%>
                    <div>
                        <div for="category">Categories</div>
                        <div>
                        <%locals?.allCategories.forEach((category)=>{%>
                            <label class="checkbox-label">
                                <input type="checkbox" name="categories[]" value="<%=category.id%>"<%- locals?.categoriesIds?.includes(String(category.id)) ? 'checked' : '' %>>
                                <%=category.name%>
                            </label>
                            <%})%>
                        </div>
                    </div>
                <%}%>


                <%if(locals?.allDevelopers){%>
                    <div>
                        <div for="developer">Developers</div>
                        <div>
                        <%locals?.allDevelopers.forEach((developer)=>{%>
                            <label class="checkbox-label">
                                <input type="checkbox" name="developers[]" value="<%=developer.id%>" <%- locals?.developersIds?.includes(String(developer.id)) ? 'checked' : '' %>>
                                <%=developer.name%>
                            </label>
                            <%})%>
                        </div>
                    </div>
                <%}%>
            <%-include("../partials/errors", {errors:locals?.errors})%>
            <button type="submit"><%=locals?.buttonText%></button>
</form>
