<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {title:locals?.title}) %>
    <body>
        <header><h1><%=locals?.title%></h1></header>
        <main>
            <nav class="sub-header-container">
                <h3>Update Category Form</h2>
                <div>
                    <a href="/">Return</a>
                </div>
            </nav>
            <section>
                <form action="<%=locals?.action%>" method="post">
                    <label for="name">Category Name</label>
                    <input value="<%=locals?.name || "" %>" type="text" id="name" name="name" />
                    <label for="imagesrc">Image Path</label>
                    <input value="<%=locals?.imagesrc || "" %>" name="imagesrc" id="imagesrc" />
                    <%-include("../partials/errors",{errors:locals?.errors})%>
                    <button type="submit">Submit</button>
                </form>
            </section>

        </main>
    </body>
</html>
