<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head",{title:"Game Page"})%>
    <body>
        <header class="game-header"><h1>Game Page</h1>
         <a href="/">Return to Main Menu</a></header>
        <main class="game-main">
            <h2><%=locals?.name%></h2>
            <div class="game-info-container">
                <img src="<%=locals?.imagesrc%>" alt="<%=locals?.name%> image" />
            
            <%if(locals?.developersNames && locals?.categoriesNames){%>
                <div>
                    <div class="developers-list-gamepage">
                    <p>Developers:</p>
                    <ul>
                        <%locals?.developersNames.forEach((developer)=>{%>
                            <li><%=developer%></li>
                        <%})%>
                    </ul>
                </div>
                <div class="categories-list-gamepage">
                    <p>Categories:</p> 
                    <ul>
                        <%locals?.categoriesNames.forEach((category)=>{%>
                            <li><%=category%></li>
                        <%})%>
                    </ul>
                </div>
                <a href="/games/<%=locals?.id%>/edit" class="update-button">Update Game </a>
                <a href="/games/<%=locals?.id%>/delete" class="red">Delete Game</a>
                </div>
        
            <%}else{%>
               <div>
                <a href="/games/<%=locals?.id%>/edit" class="update-button">Update Game </a>
                <a href="/games/<%=locals?.id%>/delete" class="red">Delete Game</a>
               </div> 
            <%}%>
            </div>
        </main>
    </body>
</html>
