<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head",{title:"Game Page"})%>
    <body>
        <%-include("../partials/header")%>
        <main>
            <nav class="sub-header-container">
            <h3>Game Page</h3>
            <div>
                <a href="/">Return to Main Menu</a>
            </div>
          </div>
          </nav>


            <section class="game-info-container">
                <h2><%=locals?.name%></h2>
                <img fetchpriority=high src="<%=locals?.imagesrc%>" alt="<%=locals?.name%> image" />
                <div>
                    <%if(locals?.developersNames.length>0 && locals?.developersNames){%>
                    <div class="developers-list-gamepage">
                        <p>Developers:</p>
                        <ul>
                            <%locals?.developersNames.forEach((developer)=>{%>
                                <li><a href="/developers/<%=developer%>"><%=developer%></a></li>
                            <%})%>
                        </ul>
                    </div>
                    <%} if(locals?.categoriesNames &&  locals?.categoriesNames.length>0)%>
                    <div class="categories-list-gamepage">
                        <p>Categories:</p> 
                        <ul>
                            <%locals?.categoriesNames.forEach((category)=>{%>
                                <li><a href="/categories/<%=category%>"><%=category%></a></li>
                            <%})%>
                        </ul>
                    </div>
                    <div class="button-container">
                        <a href="/games/<%=locals?.id%>/edit" >Update Game </a>
                        <a href="/games/<%=locals?.id%>/delete" class="delete-button-game">Delete Game</a>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
