<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {title:"Main"}) %>
    <body>
        <h1>Main</h1>
        <% if(locals?.categories){ %>
            <ul class="categories-list">
            <% locals?.categories.forEach((category)=>{ %>
            <div class="category-item">
                <span class="category-name"><%=category.name%></span>
                <a class="delete-button" href="/categories/<%=category.id%>/delete"><img src="/delete-icon.png" alt="delete button"></a>
                <a href="/games/<%=category.name%>"><img src="<%=category.imagesrc%>" alt="<%=category.name%>"></a>
            </div>

        <%}) %>
        </ul>
        <%}%>
    </body>
</html>
