<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {title:"Main"}) %>
    <body>
    <header>        
        <h1>Categories</h1>
    </header>
        <main>
          <div class="sub-header-container">  <h3>Categories  — <%=locals?.categories.length%></h2>
                        <div>
                            <a href="/categories/add">Add Category</a>
        <a href="/developers/add">Add Developer</a>
                        </div></div>
            <% if(locals?.categories&& locals?.categories.length>0){ %>
            <ul class="categories-list">
            <% locals?.categories.forEach((category)=>{ %>
            <li>
                <span class="item-name"><%=category.name%></span>
                <a class="edit-button" href="/categories/<%=category.id%>/edit"><img src="/edit-icon.svg" alt="edit button"></a>
                <a class="delete-button" href="/categories/<%=category.id%>/delete"><img src="/delete-icon.png" alt="delete button"></a>
                <a class="image-container" href="/categories/<%=category.name%>"><img src="<%=category.imagesrc%>" alt="<%=category.name%>"></a>
            </li>

        <%}) %>
        </ul>
        <%}else {%>
            <div> It seems there are no categories... </div>

            <%}%>
        </main>
    </body>
</html>
